<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="m-5">

<div class="container">
    <div class="row justify-content-center">
        <div class="col">

            <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go back</a>
            <div style="height:90vh;">
                <img style="max--width: 100%; max_height: 100%;"
                     src="{{ photo.image.url }}" alt="Image not found">
                <p>{{ photo.description }}</p>
            </div>
        </div>

    </div>
</div>


</body>
</html>